<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
              dada
            </mat-panel-title>
            <mat-panel-description>
             ddaa
            </mat-panel-description>
          </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel>
          <mat-expansion-panel-header>
          <mat-panel-title>
              daaa
          </mat-panel-title>
          <mat-panel-description>
              ssss
          </mat-panel-description>
          </mat-expansion-panel-header>
          <p>iiii</p>
      </mat-expansion-panel>
</mat-accordion>