.button {
    border-radius: 15px;
    border-width: 1px;
    outline: none;
    padding: 5px 20px;
    font-size: 13px;
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.text {
    margin-top: 2px;
    margin-bottom: 2px;
}