<div class = "row page-container">
    
    <app-side-filters class = "col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 side-section"></app-side-filters>

    <div class = "col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 pannel">

        <div class = "row">
            <app-option-card class = "col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" *ngFor = "let option of workCategories"></app-option-card>
        </div>

        <div class = "row jobs">
            <app-job-card class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"></app-job-card>
            <app-job-card class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"></app-job-card>
            <app-job-card class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"></app-job-card>
            <app-job-card class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"></app-job-card>
            <app-job-card class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"></app-job-card>
            <app-job-card class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"></app-job-card>
        </div>
    </div>
</div>
