<div class = "row page-container">
    
    <app-side-filters class = "col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 side-section"></app-side-filters>

    <div class = "col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 pannel">

        <div class = "row">
            <app-option-card class = "col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" 
                *ngFor = "let option of workCategories"
                [text] = "option.name"
                [image] = "option.image"></app-option-card>
        </div>

        <div class = "row jobs">
            <app-job-card class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 job-card"
                *ngFor = "let job of jobs"
                [data] = "job"></app-job-card>
        </div>
    </div>
</div>
